# dobot_ws ignores
/dobot_magi_ws/build
/dobot_magi_ws/devel
/dobot_ws/.catkin_workspace
/dobot_magi_ws/src/CMakeLists.txt

/.vscode

/dobot_noetic_ws/.vscode
/dobot_noetic_ws/src/magician/.vscode
dobot_noetic_ws/devel
dobot_noetic_ws/build